<nav
  id="nav"
  style="
    box-shadow: 0 0.25rem 10px 0.5px indigo;
    position: absolute;
    opacity: 0.88;
    top: 0px;
    left:0;
    height: 66px;
    z-index: 999;
    width: 100%;
    position: relative;
    background-image: linear-gradient(90deg, pink, lightblue);
  "
>
  <ul
    id="nav-list-container"
    style="
      height: inherit;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
    "
  >
    <span
      id="join-btn"
      class="join"
      style="position: absolute; bottom:10px; left: 5px"
    >
      <a href="#">Join a Chatrooom</a>
    </span>
  </ul>
</nav>
