<!DOCTYPE html>
<html lang="en-US" style="font-size: 18px">
  <head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:locale" content="en-US" />
    <meta
      property="og:title"
      content="Deadspin | Behold: The Ultimate Curse Word Bracket"
    />
    <meta property="og:url" content="" />
    <meta
      property="og:description"
      content="Deadspin | Behold: The Ultimate Curse Word Bracket"
    />
    <meta property="og:type" content="website" />
    <meta name="google-adsense-account" content="ca-pub-8523587906455239" />
    <meta
      name="twitter:description"
      content="Deadspin | Behold: The Ultimate Curse Word Bracket"
    />
    <meta
      name="twitter:title"
      content="Deadspin | Behold: The Ultimate Curse Word Bracket"
    />
    <meta property="og:site_name" content="" />
    <meta
      name="description"
      content="Deadspin | Behold: The Ultimate Curse Word Bracket"
    />
    <meta http-equiv="content-language" content="en" />
    <link
      rel="canonical"
      href="https://deadspin.com/behold-the-ultimate-curse-word-bracket-457043269/"
    />
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TFDJ9ZQ3");
    </script>
    <title>Deadspin | Behold: The Ultimate Curse Word Bracket</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      data-href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&amp;display=swap"
      data-optimized-fonts="true"
    />
    <link
      rel="icon"
      href="https://bitbutler-images.s3.eu-central-1.amazonaws.com/1710868480486"
    />
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-QC7VNH4BEF"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QC7VNH4BEF");
    </script>
    <script
      async=""
      data-spotim-module="spotim-launcher"
      src="https://launcher.spot.im/spot/sp_7gr62oKd"
    ></script>
    <script
      defer=""
      data-domain="deadspin.com"
      src="https://plausible.io/js/script.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
    <script
      type="text/javascript"
      async=""
      data-noptimize="1"
      data-cfasync="false"
      src="//scripts.pubnation.com/tags/b19fd7ff-643d-4e41-adf1-570cece204c1.js"
    ></script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "description": "Deadspin | Behold: The Ultimate Curse Word Bracket",
        "image": [
          {
            "@context": "https://schema.org",
            "@type": "ImageObject",
            "url": "https://images.deadspin.com/18i3dt22oco92png.png",
            "contentUrl": "https://images.deadspin.com/18i3dt22oco92png.png",
            "caption": "Deadspin.com",
            "creditText": ""
          }
        ],
        "mainEntityOfPage": "deadspin.com/behold-the-ultimate-curse-word-bracket-457043269/",
        "url": "deadspin.com/behold-the-ultimate-curse-word-bracket-457043269/",
        "inLanguage": "en-US",
        "author": [
          {
            "@context": "https://schema.org",
            "@type": "Person",
            "url": "deadspin.com/author/drewmagary/",
            "name": "Drew Magary",
            "sameAs": [
              "https://twitter.com/drewmagary",
              "https://www.instagram.com/drew.magary/"
            ]
          }
        ],
        "dateModified": "Wed Mar 20 2013 20:59:11 GMT+0000 (Coordinated Universal Time)",
        "datePublished": "Wed Mar 20 2013 21:00:00 GMT+0000 (Coordinated Universal Time)",
        "headline": "Behold: The Ultimate Curse Word Bracket",
        "alternativeHeadline": "Behold: The Ultimate Curse Word Bracket",
        "publisher": {
          "@id": "https://deadspin.com",
          "name": "Deadspin",
          "sameAs": [
            "https://x.com/deadspin",
            "https://facebook.com/deadspin",
            "https://en.wikipedia.org/wiki/Deadspin",
            "https://www.youtube.com/channel/UCFsh2bHIGqgRVZnZX8xhI0Q"
          ]
        },
        "copyrightHolder": {
          "@type": "NewsMediaOrganization",
          "@id": "https://deadspin.com",
          "name": "Deadspin",
          "sameAs": [
            "https://x.com/deadspin",
            "https://facebook.com/deadspin",
            "https://en.wikipedia.org/wiki/Deadspin",
            "https://www.youtube.com/channel/UCFsh2bHIGqgRVZnZX8xhI0Q"
          ]
        },
        "sourceOrganization": {
          "@type": "NewsMediaOrganization",
          "@id": "https://deadspin.com",
          "name": "Deadspin",
          "sameAs": [
            "https://x.com/deadspin",
            "https://facebook.com/deadspin",
            "https://en.wikipedia.org/wiki/Deadspin",
            "https://www.youtube.com/channel/UCFsh2bHIGqgRVZnZX8xhI0Q"
          ]
        },
        "copyrightYear": 2024,
        "isAccessibleForFree": true,
        "isPartOf": {
          "@type": ["CreativeWork", "Product"],
          "name": "Deadspin",
          "productID": "deadspin"
        }
      }
    </script>
    <meta
      property="og:image"
      content="https://images.deadspin.com/18i3dt22oco92png.png"
    />
    <meta name="next-head-count" content="27" />
    <link
      rel="preload"
      href="/_next/static/css/a3d7394ce2d7dfc3.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/_next/static/css/a3d7394ce2d7dfc3.css"
      data-n-g=""
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"
    ></script>
    <script
      src="/_next/static/chunks/webpack-0dd43ff5df161fec.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/framework-158610b90d6847aa.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main-910ab4d5201748e7.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app-11c721c14e9ebc71.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/c16184b3-52ba8178327cacbd.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/2cca2479-30ee97a382c704c7.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/75fc9c18-f5c95b15762b1b2f.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/1442-4b591d64c0041338.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/5863-0626f74ab86c414d.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/4989-c88f80574dcbcf34.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/8525-9e34fc392967c76d.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/3876-33fba8b6c6d93649.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/%5B...article%5D-2db5c89fad80a2fa.js"
      defer=""
    ></script>
    <script
      src="/_next/static/jZbNDZ7I173Y_ycqRJXc-/_buildManifest.js"
      defer=""
    ></script>
    <script
      src="/_next/static/jZbNDZ7I173Y_ycqRJXc-/_ssgManifest.js"
      defer=""
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div id="__next">
      
         
          
          <div class="col-span-5 hidden lg:block bg-primary">
            <nav class="block">
              <ul class="flex items-center list-none">
                <li
                  class="inline-block [&amp;&gt;div]:hover:block [&amp;&gt;a&gt;span]:hover:block hover:bg-white hover:shadow-inner"
                >
               
                  
                  <h2>SEX REGION</h2>
                  <section id="section-8"><p>Fuck</p></section>
                  <section id="section-9"><p>Blowjob</p></section>
                  <section id="section-10"><p>Cum</p></section>
                  <section id="section-11"><p>Jizz</p></section>
                  <section id="section-12"><p>Boner</p></section>
                  <section id="section-13"><p>Clit</p></section>
                  <section id="section-14"><p>Handjob</p></section>
                  <section id="section-15"><p>Poontang</p></section>
                  <section id="section-16"><p>Queef</p></section>
                  <section id="section-17"><p>Dildo</p></section>
                  <section id="section-18"><p>Rimjob</p></section>
                  <section id="section-19"><p>Feltch</p></section>
                  <section id="section-20"><p>Minge</p></section>
                  <section id="section-21"><p>Spooge</p></section>
                  <section id="section-22"><p>Smegma</p></section>
                  <section id="section-23"><p>Pecker</p></section>
                  <h2>BODY REGION</h2>
                  <section id="section-25"><p>Pussy</p></section>
                  <section id="section-26"><p>Cock</p></section>
                  <section id="section-27"><p>Boobs</p></section>
                  <section id="section-28"><p>Piss</p></section>
                  <section id="section-29"><p>Cunt</p></section>
                  <section id="section-30"><p>Tits</p></section>
                  <section id="section-31"><p>Dick</p></section>
                  <section id="section-32"><p>Balls</p></section>
                  <section id="section-33"><p>Twat</p></section>
                  <section id="section-34"><p>Taint</p></section>
                  <section id="section-35"><p>Pubes</p></section>
                  <section id="section-36"><p>Prick</p></section>
                  <section id="section-37"><p>Hard-on</p></section>
                  <section id="section-38"><p>Turd</p></section>
                  <section id="section-39"><p>Nuts</p></section>
                  <section id="section-40"><p>Nutsack</p></section>
                  <h2>COMPOUND CURSE WORD REGION</h2>
                  <section id="section-42"><p>Motherfucker</p></section>
                  <section id="section-43"><p>Asshole</p></section>
                  <section id="section-44"><p>Bullshit</p></section>
                  <section id="section-45"><p>Shitfaced</p></section>
                  <section id="section-46"><p>Cocksucker</p></section>
                  <br />
                  <section id="section-47"><p>Buttcrack</p></section>
                  <section id="section-48"><p>Clusterfuck</p></section>
                  <section id="section-49"><p>Douchebag</p></section>
                  <section id="section-50"><p>Dickhead</p></section>
                  <section id="section-51"><p>Dumbass</p></section>
                  <section id="section-52"><p>Fuckface</p></section>
                  <section id="section-53"><p>Shithead</p></section>
                  <section id="section-54"><p>Buttfuck</p></section>
                  <section id="section-55"><p>Dipshit</p></section>
                  <section id="section-56"><p>Asshat</p></section>
                  <section id="section-57"><p>Bumblefuck</p></section>
                  <h2>POTPOURRI REGION</h2>
                  <section id="section-59"><p>Shit</p></section>
                  <section id="section-60"><p>Goddamn</p></section>
                  <section id="section-61"><p>Jesus Christ</p></section>
                  <section id="section-62"><p>Screw</p></section>
                  <section id="section-63"><p>Crap</p></section>
                  <section id="section-64"><p>Slut</p></section>
                  <section id="section-65"><p>Hell</p></section>
                  <section id="section-66"><p>Jagoff</p></section>
                  <section id="section-67"><p>Vag</p></section>
                  <section id="section-68"><p>Wank</p></section>
                  <section id="section-69"><p>Arse</p></section>
                  <section id="section-70"><p>Bugger</p></section>
                  <section id="section-71"><p>Cameltoe</p></section>
                  <section id="section-72"><p>Bollocks</p></section>
                  <section id="section-73"><p>Choad</p></section>
                  <section id="section-74"><p>Cabron</p></section>
                  <section id="section-75">
                    <p>
                      Go ahead and vote in the first two regionals of first
                      round below. You&#x27;ve got until Thursday at noon before
                      we tabulate winners and move on to the next batch. Before
                      too long, it&#x27;ll be the Sweet Fucking Sixteen. So get
                      voting. And use Kinja below if you want to complain about
                      &quot;Fucktaster&quot; being left out. Enjoy, you
                      heathens.
                    </p>
                  </section>
                 
            
              </div>
            </div>
         
     
      </main>
      
      <!--/$-->
    </div>

    <%- include('./partials/js/deadspin.ejs')%>

  </body>
</html>
