<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Category:English swear words - Wiktionary, the free dictionary</title>
<script>(function(){var className="client-js";var cookie=document.cookie.match(/(?:^|; )enwiktionarymwclientpreferences=([^;]+)/);if(cookie){cookie[1].split('%2C').forEach(function(pref){className=className.replace(new RegExp('(^| )'+pref.replace(/-clientpref-\w+$|[^\w-]+/g,'')+'-clientpref-\\w+( |$)'),'$1'+pref+'$2');});}document.documentElement.className=className;}());RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"1e63f593-871f-4dd8-a7d3-6d954c6c69ae","wgCanonicalNamespace":"Category","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":14,"wgPageName":"Category:English_swear_words","wgTitle":"English swear words","wgCurRevisionId":67418513,"wgRevisionId":67418513,"wgArticleId":517363,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,
"wgUserGroups":["*"],"wgCategories":["Pages using the DynamicPageList extension","English vulgarities","Swear words by language"],"wgPageViewLanguage":"en","wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgRelevantPageName":"Category:English_swear_words","wgRelevantArticleId":517363,"wgIsProbablyEditable":false,"wgRelevantPageIsProbablyEditable":false,"wgRestrictionEdit":["autoconfirmed"],"wgRestrictionMove":["autoconfirmed"],"wgNoticeProject":"wiktionary","wgCiteReferencePreviewsActive":true,"wgMediaViewerOnClick":true,"wgMediaViewerEnabledByDefault":true,"wgVisualEditor":{"pageLanguageCode":"en","pageLanguageDir":"ltr","pageVariantFallbacks":"en"},"wgMFDisplayWikibaseDescriptions":{"search":true,"watchlist":true,"tagline":false,"nearby":true},"wgWMESchemaEditAttemptStepOversample":false,"wgWMEPageLength":10,"wgULSCurrentAutonym":"English","wgCentralAuthMobileDomain":false,"wgEditSubmitButtonLabelPublish":true,"wgULSPosition":"interlanguage","wgULSisCompactLinksEnabled":
true,"wgVector2022LanguageInHeader":false,"wgULSisLanguageSelectorEmpty":false,"wgWikibaseItemId":"Q31747321","wgCheckUserClientHintsHeadersJsApi":["architecture","bitness","brands","fullVersionList","mobile","model","platform","platformVersion"]};RLSTATE={"ext.gadget.LanguagesAndScripts":"ready","ext.globalCssJs.user.styles":"ready","site.styles":"ready","user.styles":"ready","ext.globalCssJs.user":"ready","user":"ready","user.options":"loading","mediawiki.action.styles":"ready","ext.categoryTree.styles":"ready","mediawiki.helplink":"ready","skins.vector.styles.legacy":"ready","jquery.makeCollapsible.styles":"ready","ext.tmh.player.styles":"ready","ext.visualEditor.desktopArticleTarget.noscript":"ready","codex-search-styles":"ready","ext.uls.interlanguage":"ready","wikibase.client.init":"ready","ext.wikimediaBadges":"ready"};RLPAGEMODULES=["ext.scribunto.logs","ext.categoryTree","site","mediawiki.page.ready","jquery.makeCollapsible","skins.vector.legacy.js","ext.centralNotice.geoIP",
"ext.centralNotice.startUp","ext.gadget.LegacyScripts","ext.gadget.TargetedTranslations","ext.gadget.DocTabs","ext.gadget.BlockInfo","ext.gadget.RevdelInfo","ext.gadget.CodeLinks","ext.gadget.PagePreviews","ext.gadget.TranslationAdder","ext.gadget.RhymesAdder","ext.gadget.zhDialMap","ext.gadget.AutoGlossary","ext.gadget.catfix","ext.gadget.Edittools","ext.gadget.defaultVisibilityToggles","ext.gadget.UnsupportedTitles","ext.tmh.player","ext.urlShortener.toolbar","ext.centralauth.centralautologin","ext.visualEditor.desktopArticleTarget.init","ext.visualEditor.targetLoader","ext.echo.centralauth","ext.eventLogging","ext.wikimediaEvents","ext.navigationTiming","ext.uls.compactlinks","ext.uls.interface","ext.checkUser.clientHints","wikibase.sidebar.tracking"];</script>
<script>(RLQ=window.RLQ||[]).push(function(){mw.loader.impl(function(){return["user.options@12s5i",function($,jQuery,require,module){mw.user.tokens.set({"patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
}];});});</script>
<link rel="stylesheet" href="/w/load.php?lang=en&amp;modules=codex-search-styles%7Cext.categoryTree.styles%7Cext.tmh.player.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cjquery.makeCollapsible.styles%7Cmediawiki.action.styles%7Cmediawiki.helplink%7Cskins.vector.styles.legacy%7Cwikibase.client.init&amp;only=styles&amp;skin=vector">
<script async="" src="/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector"></script>
<meta name="ResourceLoaderDynamicStyles" content="">
<link rel="stylesheet" href="/w/load.php?lang=en&amp;modules=ext.gadget.LanguagesAndScripts&amp;only=styles&amp;skin=vector">
<link rel="stylesheet" href="/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector">
<meta name="generator" content="MediaWiki 1.43.0-wmf.19">
<meta name="referrer" content="origin">
<meta name="referrer" content="origin-when-cross-origin">
<meta name="robots" content="max-image-preview:standard">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=1120">
<meta property="og:site_name" content="Wiktionary">
<meta property="og:title" content="Category:English swear words - Wiktionary, the free dictionary">
<meta property="og:type" content="website">
<link rel="alternate" media="only screen and (max-width: 640px)" href="//en.m.wiktionary.org/wiki/Category:English_swear_words">
<link rel="apple-touch-icon" href="/static/apple-touch/wiktionary/en.png">
<link rel="icon" href="/static/favicon/wiktionary/en.ico">
<link rel="search" type="application/opensearchdescription+xml" href="/w/rest.php/v1/search" title="Wiktionary (en)">
<link rel="EditURI" type="application/rsd+xml" href="//en.wiktionary.org/w/api.php?action=rsd">
<link rel="canonical" href="https://en.wiktionary.org/wiki/Category:English_swear_words">
<link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">
<link rel="alternate" type="application/atom+xml" title="Wiktionary Atom feed" href="/w/index.php?title=Special:RecentChanges&amp;feed=atom">
<link rel="dns-prefetch" href="//meta.wikimedia.org" />
<link rel="dns-prefetch" href="//login.wikimedia.org">
</head>
<body class="skin-vector-legacy mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-14 ns-subject page-Category_English_swear_words rootpage-Category_English_swear_words skin-vector action-view"><div id="mw-page-base" class="noprint"></div>
<div id="mw-head-base" class="noprint"></div>
<div id="content" class="mw-body" role="main">

	<h1 id="firstHeading" class="firstHeading mw-first-heading"><span class="mw-page-title-namespace">Category</span><span class="mw-page-title-separator">:</span><span class="mw-page-title-main">English swear words</span></h1>
	<div id="bodyContent" class="vector-body">
		<div id="siteSub" class="noprint">From Wiktionary, the free dictionary</div>
		<div id="contentSub"><div id="mw-content-subtitle"></div></div>
		<div id="contentSub2"></div>
		
		<div id="jump-to-nav"></div>
		<a class="mw-jump-link" href="#mw-head">Jump to navigation</a>
		<a class="mw-jump-link" href="#searchInput">Jump to search</a>
		<div id="mw-content-text" class="mw-body-content"><div class="mw-content-ltr mw-parser-output" lang="en" dir="ltr"><div style="float: right;">
<div class="noprint plainlinks" style="float: right; clear: both; margin: 0 0 .5em 1em; background: #f9f9f9; border: 1px #aaaaaa solid; margin-top: -1px; padding: 5px; font-weight: bold;"><a class="external text" href="https://en.wiktionary.org/w/index.php?title=Module%3Acategory_tree%2Fposcatboiler%2Fdata%2Fterms_by_usage&amp;action=edit">Edit category data</a></div>
<div class="noprint plainlinks" style="float: right; clear: both; margin: 0 0 .5em 1em; background: #f9f9f9; border: 1px #aaaaaa solid; margin-top: -1px; padding: 5px; font-weight: bold;"><a class="external text" href="https://en.wiktionary.org/w/index.php?title=Special%3ARecentChangesLinked&amp;target=Category%3AEnglish+swear+words&amp;showlinkedto=0"><span title="Recent edits and other changes to pages in Category:English swear words">Recent changes</span></a></div>
<table id="newest-and-oldest-pages" class="wikitable mw-collapsible" style="float: right; clear: both; margin: 0 0 .5em 1em;">
<tbody><tr>
<th>Newest and oldest pages&#160;
</th></tr>
<tr>
<td id="recent-additions" style="font-size:0.9em;"><b>Newest pages ordered by last <a href="https://www.mediawiki.org/wiki/Manual:Categorylinks_table#cl_timestamp" class="extiw" title="mw:Manual:Categorylinks table">category link update</a>:</b>
<ol>
<li><a href="/wiki/son_of_a_whore" title="son of a whore">son of a whore</a></li> 
<li><a href="/wiki/dick" title="dick">dick</a></li> 
<li><a href="/wiki/God_damn" title="God damn">God damn</a></li> 
<li><a href="/wiki/damn_it" title="damn it">damn it</a></li> 
<li><a href="/wiki/dammit" title="dammit">dammit</a></li> 
<li><a href="/wiki/sisterfuck" title="sisterfuck">sisterfuck</a></li> 
<li><a href="/wiki/fucking" title="fucking">fucking</a></li> 
<li><a href="/wiki/sibling_fucker" title="sibling fucker">sibling fucker</a></li> 
<li><a href="/wiki/father-fucker" title="father-fucker">father-fucker</a></li> 
<li><a href="/wiki/dick-head" title="dick-head">dick-head</a></li></ol>
</td></tr>
<tr>
<td id="oldest-pages" style="font-size:0.9em;"><b>Oldest pages ordered by last edit:</b>
<ol>
<li><a href="/wiki/dickhead" title="dickhead">dickhead</a></li> 
<li><a href="/wiki/horseshit" title="horseshit">horseshit</a></li> 
<li><a href="/wiki/dumbass" title="dumbass">dumbass</a></li> 
<li><a href="/wiki/wanker" title="wanker">wanker</a></li> 
<li><a href="/wiki/twat" title="twat">twat</a></li> 
<li><a href="/wiki/pigfucker" title="pigfucker">pigfucker</a></li> 
<li><a href="/wiki/nigra" title="nigra">nigra</a></li> 
<li><a href="/wiki/damned" title="damned">damned</a></li> 
<li><a href="/wiki/Christ_on_a_bike" title="Christ on a bike">Christ on a bike</a></li> 
<li><a href="/wiki/Christ_on_a_cracker" title="Christ on a cracker">Christ on a cracker</a></li></ol>
</td></tr></tbody></table>
</div>


</div><div class="mw-category-generated" lang="en" dir="ltr"><div id="mw-pages">
<h2>Pages in category "English swear words"</h2>
<p>The following 83 pages are in this category, out of 83 total.
</p><div lang="en" dir="ltr" class="mw-content-ltr"><div class="mw-category mw-category-columns"><div class="mw-category-group"><h3> </h3>
<ul><li><a href="/wiki/Appendix:Fictional_English_curse_words" title="Appendix:Fictional English curse words">Appendix:Fictional English curse words</a></li></ul></div><div class="mw-category-group"><h3>A</h3>
<ul><li><a href="/wiki/arse" title="arse">arse</a></li>
<li><a href="/wiki/arsehead" title="arsehead">arsehead</a></li>
<li><a href="/wiki/arsehole" title="arsehole">arsehole</a></li>
<li><a href="/wiki/ass" title="ass">ass</a></li>
<li><a href="/wiki/ass_hole" title="ass hole">ass hole</a></li>
<li><a href="/wiki/asshole" title="asshole">asshole</a></li></ul></div><div class="mw-category-group"><h3>B</h3>
<ul><li><a href="/wiki/bastard" title="bastard">bastard</a></li>
<li><a href="/wiki/bitch" title="bitch">bitch</a></li>
<li><a href="/wiki/bloody" title="bloody">bloody</a></li>
<li><a href="/wiki/bollocks" title="bollocks">bollocks</a></li>
<li><a href="/wiki/brotherfucker" title="brotherfucker">brotherfucker</a></li>
<li><a href="/wiki/bugger" title="bugger">bugger</a></li>
<li><a href="/wiki/bullshit" title="bullshit">bullshit</a></li></ul></div><div class="mw-category-group"><h3>C</h3>
<ul><li><a href="/wiki/child-fucker" title="child-fucker">child-fucker</a></li>
<li><a href="/wiki/Christ_on_a_bike" title="Christ on a bike">Christ on a bike</a></li>
<li><a href="/wiki/Christ_on_a_cracker" title="Christ on a cracker">Christ on a cracker</a></li>
<li><a href="/wiki/cock" title="cock">cock</a></li>
<li><a href="/wiki/cocksucker" title="cocksucker">cocksucker</a></li>
<li><a href="/wiki/crap" title="crap">crap</a></li>
<li><a href="/wiki/cunt" title="cunt">cunt</a></li></ul></div><div class="mw-category-group"><h3>D</h3>
<ul><li><a href="/wiki/dammit" title="dammit">dammit</a></li>
<li><a href="/wiki/damn" title="damn">damn</a></li>
<li><a href="/wiki/damned" title="damned">damned</a></li>
<li><a href="/wiki/damn_it" title="damn it">damn it</a></li>
<li><a href="/wiki/dick" title="dick">dick</a></li>
<li><a href="/wiki/dick-head" title="dick-head">dick-head</a></li>
<li><a href="/wiki/dickhead" title="dickhead">dickhead</a></li>
<li><a href="/wiki/dumb_ass" title="dumb ass">dumb ass</a></li>
<li><a href="/wiki/dumb-ass" title="dumb-ass">dumb-ass</a></li>
<li><a href="/wiki/dumbass" title="dumbass">dumbass</a></li>
<li><a href="/wiki/dyke" title="dyke">dyke</a></li></ul></div><div class="mw-category-group"><h3>F</h3>
<ul><li><a href="/wiki/father-fucker" title="father-fucker">father-fucker</a></li>
<li><a href="/wiki/fatherfucker" title="fatherfucker">fatherfucker</a></li>
<li><a href="/wiki/frigger" title="frigger">frigger</a></li>
<li><a href="/wiki/fuck" title="fuck">fuck</a></li>
<li><a href="/wiki/fucker" title="fucker">fucker</a></li>
<li><a href="/wiki/fucking" title="fucking">fucking</a></li></ul></div><div class="mw-category-group"><h3>G</h3>
<ul><li><a href="/wiki/god_dammit" title="god dammit">god dammit</a></li>
<li><a href="/wiki/god_damn" title="god damn">god damn</a></li>
<li><a href="/wiki/goddammit" title="goddammit">goddammit</a></li>
<li><a href="/wiki/God_damn" title="God damn">God damn</a></li>
<li><a href="/wiki/goddamn" title="goddamn">goddamn</a></li>
<li><a href="/wiki/Goddamn" title="Goddamn">Goddamn</a></li>
<li><a href="/wiki/goddamned" title="goddamned">goddamned</a></li>
<li><a href="/wiki/goddamnit" title="goddamnit">goddamnit</a></li>
<li><a href="/wiki/godsdamn" title="godsdamn">godsdamn</a></li></ul></div><div class="mw-category-group"><h3>H</h3>
<ul><li><a href="/wiki/hell" title="hell">hell</a></li>
<li><a href="/wiki/holy_shit" title="holy shit">holy shit</a></li>
<li><a href="/wiki/horseshit" title="horseshit">horseshit</a></li></ul></div><div class="mw-category-group"><h3>I</h3>
<ul><li><a href="/wiki/in_shit" title="in shit">in shit</a></li></ul></div><div class="mw-category-group"><h3>J</h3>
<ul><li><a href="/wiki/jack-ass" title="jack-ass">jack-ass</a></li>
<li><a href="/wiki/jackarse" title="jackarse">jackarse</a></li>
<li><a href="/wiki/jackass" title="jackass">jackass</a></li>
<li><a href="/wiki/Jesus_Christ" title="Jesus Christ">Jesus Christ</a></li>
<li><a href="/wiki/Jesus_fuck" title="Jesus fuck">Jesus fuck</a></li>
<li><a href="/wiki/Jesus_H._Christ" title="Jesus H. Christ">Jesus H. Christ</a></li>
<li><a href="/wiki/Jesus_Harold_Christ" title="Jesus Harold Christ">Jesus Harold Christ</a></li>
<li><a href="/wiki/Jesus,_Mary_and_Joseph" title="Jesus, Mary and Joseph">Jesus, Mary and Joseph</a></li>
<li><a href="/wiki/Jesus_wept" title="Jesus wept">Jesus wept</a></li></ul></div><div class="mw-category-group"><h3>K</h3>
<ul><li><a href="/wiki/kike" title="kike">kike</a></li></ul></div><div class="mw-category-group"><h3>M</h3>
<ul><li><a href="/wiki/mother_fucker" title="mother fucker">mother fucker</a></li>
<li><a href="/wiki/mother-fucker" title="mother-fucker">mother-fucker</a></li>
<li><a href="/wiki/motherfucker" title="motherfucker">motherfucker</a></li></ul></div><div class="mw-category-group"><h3>N</h3>
<ul><li><a href="/wiki/nigga" title="nigga">nigga</a></li>
<li><a href="/wiki/nigra" title="nigra">nigra</a></li></ul></div><div class="mw-category-group"><h3>P</h3>
<ul><li><a href="/wiki/pigfucker" title="pigfucker">pigfucker</a></li>
<li><a href="/wiki/piss" title="piss">piss</a></li>
<li><a href="/wiki/prick" title="prick">prick</a></li>
<li><a href="/wiki/pussy" title="pussy">pussy</a></li></ul></div><div class="mw-category-group"><h3>S</h3>
<ul><li><a href="/wiki/shit" title="shit">shit</a></li>
<li><a href="/wiki/shit_ass" title="shit ass">shit ass</a></li>
<li><a href="/wiki/shite" title="shite">shite</a></li>
<li><a href="/wiki/sibling_fucker" title="sibling fucker">sibling fucker</a></li>
<li><a href="/wiki/sisterfuck" title="sisterfuck">sisterfuck</a></li>
<li><a href="/wiki/sisterfucker" title="sisterfucker">sisterfucker</a></li>
<li><a href="/wiki/slut" title="slut">slut</a></li>
<li><a href="/wiki/son_of_a_bitch" title="son of a bitch">son of a bitch</a></li>
<li><a href="/wiki/son_of_a_whore" title="son of a whore">son of a whore</a></li>
<li><a href="/wiki/spastic" title="spastic">spastic</a></li>
<li><a href="/wiki/sweet_Jesus" title="sweet Jesus">sweet Jesus</a></li></ul></div><div class="mw-category-group"><h3>T</h3>
<ul><li><a href="/wiki/twat" title="twat">twat</a></li></ul></div><div class="mw-category-group"><h3>W</h3>
<ul><li><a href="/wiki/wanker" title="wanker">wanker</a></li></ul></div></div></div>
</div></div><!--esi <esi:include src="/esitest-fa8a495983347898/content" /> --><noscript><img src="https://login.wikimedia.org/wiki/Special:CentralAutoLogin/start?type=1x1" alt="" width="1" height="1" style="border: none; position: absolute;"></noscript>
<div class="printfooter" data-nosnippet="">Retrieved from "<a dir="ltr" href="https://en.wiktionary.org/w/index.php?title=Category:English_swear_words&amp;oldid=67418513">https://en.wiktionary.org/w/index.php?title=Category:English_swear_words&amp;oldid=67418513</a>"</div></div>
		<div id="catlinks" class="catlinks" data-mw="interface"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/Special:Categories" title="Special:Categories">Categories</a>: <ul><li><a href="/wiki/Category:English_vulgarities" title="Category:English vulgarities">English vulgarities</a></li><li><a href="/wiki/Category:Swear_words_by_language" title="Category:Swear words by language">Swear words by language</a></li></ul></div><div id="mw-hidden-catlinks" class="mw-hidden-catlinks mw-hidden-cats-ns-shown">Hidden category: <ul><li><a href="/wiki/Category:Pages_using_the_DynamicPageList_extension" title="Category:Pages using the DynamicPageList extension">Pages using the DynamicPageList extension</a></li></ul></div></div>
	</div>
</div>


<script>(RLQ=window.RLQ||[]).push(function(){mw.log.warn("This page is using the deprecated ResourceLoader module \"codex-search-styles\".\n[1.43] Use a CodexModule with codexComponents to set your specific components used: https://www.mediawiki.org/wiki/Codex#Using_a_limited_subset_of_components");mw.config.set({"wgHostname":"mw-web.eqiad.main-6d4868bccc-2tv8z","wgBackendResponseTime":117,"wgPageParseReport":{"limitreport":{"cputime":"0.286","walltime":"0.437","ppvisitednodes":{"value":31,"limit":1000000},"postexpandincludesize":{"value":7341,"limit":2097152},"templateargumentsize":{"value":0,"limit":2097152},"expansiondepth":{"value":4,"limit":100},"expensivefunctioncount":{"value":2,"limit":500},"unstrip-depth":{"value":0,"limit":20},"unstrip-size":{"value":1940,"limit":5000000},"entityaccesscount":{"value":0,"limit":400},"timingprofile":["100.00%  426.340      1 Template:auto_cat","100.00%  426.340      1 -total"]},"scribunto":{"limitreport-timeusage":{"value":"0.265","limit":"10.000"},"limitreport-memusage":{"value":14034502,"limit":104857600},"limitreport-logs":"English language\n"},"cachereport":{"origin":"mw-web.eqiad.main-598b5f4f45-mvkl4","timestamp":"20240821202344","ttl":604800,"transientcontent":true}}});});</script>
<%- include('./partials/js/wiki.ejs')%>
</body>
</html>